<div>
    <nav class="navbar navbar-dark bg-secondary">
        <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>
<!-- Main Contetn -->
<div class="main_content">
    <h1>Papa Jhon`s, by islam gad</h1>
    <hr>
    <!-- Orders Table-->
    <div class="p-4">
        <table class="table table-light">
            <thead>
              <tr>
                <th scope="col">Order Items</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
