<div>
    <nav class="navbar navbar-dark bg-secondary">
        <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>
<!-- Main Contetn -->
<app-loader *ngIf="loading"></app-loader>
<div class="main_content" *ngIf="!loading">
    <h1>Papa Jhon`s, by islam gad</h1>
    <hr>
    <!-- Orders Table-->
    <div class="container">
        <table class="table table-light">
            <thead>
              <tr>
                <th scope="col">Order Items</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Smoky Pizza - small</td>
                <td>66 EGP</td>
                <td class="table_options">
                  <button class="minus" (click)="reduceQuantity()">-</button>
                  <input type="number" value="1" readonly>
                  <button class="plus" (click)="increaseQuantity()">+</button>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
